@model IEnumerable<solicitudescooitza.Models.Dtos.TblSolicitudesVM>

@{
    ViewBag.Title = "Todas las Solicitudes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Solicitudes realizadas</h2>

<div class="mb-0"><button type="button" class="btn btn-primary btn-lg" onclick="location.href='@Url.Action("Index", "TblSolicitudes")'" style="box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%); background: #153d77;"><i class="bi bi-backspace-fill"></i></button></div>

<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Lugar</th>
                <th>Fecha fin</th>
                <th>Monto Solicitado</th>
                <th>Motivo Comision</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var solicitud in Model)
            {
                <tr>
                    <td>@solicitud.fechaAlta</td>
                    <td>@solicitud.lugarOrigenComision</td>
                    <td>@solicitud.fechaFin</td>
                    <td>@solicitud.montoTotal</td>
                    <td>@solicitud.motivoComision</td>
                    <td>
                        @if (solicitud.idCatEstado == 1)
                        {
                            <span class="bi bi-x-circle text-warning">Pendiente</span>
                        }
                        else if (solicitud.idCatEstado == 2)
                        {
                            <span class="bi bi-bell text-info">Enviado</span>
                        }
                        else if (solicitud.idCatEstado == 3)
                        {
                            <span class="bi bi-check-circle-fill text-success">Confirmado</span>
                        }
                        else if (solicitud.idCatEstado == 4)
                        {
                            <span class="bi bi-clipboard-x text-danger">Rechazado</span>
                        }
                        else if (solicitud.idCatEstado == 5)
                        {
                            <span class="bi bi-bell text-info">LiquidacionEnviada</span>
                        }
                        else if (solicitud.idCatEstado == 6)
                        {
                            <span class="bi bi-check-circle-fill text-success">LiquidacionConfirmado</span>
                        }
                        else if (solicitud.idCatEstado == 7)
                        {
                            <span class="bi bi-clipboard-x text-danger">LiquidacionRechazado</span>
                        }
                    </td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Acciones
                            </button>
                            <ul class="dropdown-menu">
                                @if (solicitud.idCatEstado == 1)
                                {
                                    <li>
                                        @Html.ActionLink("GenerarPDF", "GenerarPDF", new { id = solicitud.idTblSolicitudes }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Ocultar", "Deletew", new { id = solicitud.idTblSolicitudes }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @Html.ActionLink("Editar", "Edit1", new { id = solicitud.idTblSolicitudes }, new { @class = "dropdown-item" })
                                    </li>
                                    <li>
                                        @using (Html.BeginForm("EnviarSolicitud", "TblSolicitudes", new { idTblSolicitudes = solicitud.idTblSolicitudes }, FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()
                                            <button type="submit" class="dropdown-item">Enviar Solicitud</button>
                                        }
                                    </li>
                                }
                                else if (solicitud.idCatEstado == 2)
                                {
                                    <li>
                                        @Html.ActionLink("GenerarPDF", "GenerarPDF", new { id = solicitud.idTblSolicitudes }, new { @class = "dropdown-item" })
                                    </li>
                                }
                                else if (solicitud.idCatEstado == 3)
                                {
                                    <li>
                                        @Html.ActionLink("Liquidar", "Edit", new { id = solicitud.idTblSolicitudes }, new { @class = "dropdown-item" })
                                    </li>
                                }
                                else if (solicitud.idCatEstado == 4)
                                {
                                    <li>
                                        @Html.ActionLink("Editar", "Edit1", new { id = solicitud.idTblSolicitudes }, new { @class = "dropdown-item" })
                                    </li>
                                }
                                else if (solicitud.idCatEstado == 5)
                                {
                                    <li>
                                        @Html.ActionLink("GenerarPDF", "GenerarPDF", new { id = solicitud.idTblSolicitudes }, new { @class = "dropdown-item" })
                                    </li>
                                }
                                else if (solicitud.idCatEstado == 6)
                                {
                                    <li>
                                        @Html.ActionLink("GenerarPDF", "GenerarPDF", new { id = solicitud.idTblSolicitudes }, new { @class = "dropdown-item" })
                                    </li>
                                }
                                else if (solicitud.idCatEstado == 7)
                                {
                                    <li>
                                        @Html.ActionLink("Liquidar", "Edit", new { id = solicitud.idTblSolicitudes }, new { @class = "dropdown-item" })
                                    </li>
                                }
                            </ul>
                        </div>

                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



