@model IEnumerable<solicitudescooitza.Models.TblUsuarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.primerNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.segundoNombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.primerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tercerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contraseña)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatGenerencia.descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CatRoles.descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.primerNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.segundoNombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.primerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.segundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tercerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatGenerencia.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CatRoles.descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTblUsuarios }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTblUsuarios }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTblUsuarios })
        </td>
    </tr>
}

</table>
